.l1{
    list-style:decimal;
}
.sl1{
    color: maroon;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
   
}
.l2{
    list-style:lower-latin;
}
.sl2{
    color:orangered;
    font-size: 20px;
    font-family: arial;
    text-decoration: underline;
}
.l3{
    list-style: rgb(63, 27, 27);
}
.sl3{
    color: purple;
    font-size: 20px;
    font-family:times new roman;
    text-decoration: line-through;

}
.l4{
    list-style: red;
    
}
.sl4{
    font-size: 20px;
    color: red;
    font-family: verdana;
    text-decoration: wavy;
    text-align: center;

}